

#illustrations {
   
    position: relative;
    height: 40rem;
    min-width: 45rem;
 

    #book-shelf {
        position: absolute;
        top: 10%;
        left: 3rem;
        width: 10rem;
        height: 10rem;
    }
    #desk {
        position: absolute;
        bottom: 23%;
        left: 3rem;
        height: 2rem;
        width: 40rem;
    }
    #laptop{
        position: absolute;
   
        bottom: 22%;
        right: 35%;
    }

    #book-stack {
        position: absolute;
        bottom: 25%;
        right: 3rem;
    }
    #pencil-cup {
        position: absolute;
        bottom: 27.5%;
        left: 10%;
    }
    #coffee-cup {
        position: absolute;
        bottom: 23.4%;
        right: 21%;
    }

}

@media screen and (max-width: 912px) {
  #illustrations {
scale: .5;   
  }
}