

#illustrations {
    position: relative;
    height: 90%;
    min-width: 40%;
    border: 1px solid white;
 

    #book-shelf {
        position: absolute;
        top: 10%;
        left: 10%;
    }
    #desk {

        position: absolute;
        bottom: 25%;
        right: 14%;
    }
    #laptop{
        position: absolute;
   
        bottom: 22%;
        right: 35%;
    }

    #book-stack {
        position: absolute;
        bottom: 25%;
        right: 10%;
    }
    #pencil-cup {
        position: absolute;
        bottom: 29%;
        left: 13%;
    }
    #coffee-cup {
        position: absolute;
        bottom: 23.4%;
        right: 21%;
    }

}